<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<body>
<div layout:fragment="content">
  <div class="container">
    <div class="row mb-5">
      <div class="col-sm">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <h4 class="card-title">Countries</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/countries" class="btn btn-primary">Manage Countries</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <h4 class="card-title">Modules</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Manage Modules</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <h4 class="card-title">States</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Manage States</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-sm">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <h4 class="card-title">Locations</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Manage Locations</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <h4 class="card-title">Contacts</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Manage Contacts</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <h4 class="card-title">Suppliers</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Manage Suppliers</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-sm">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <h4 class="card-title">Clients</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/countries" class="btn btn-primary">Manage Clients</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>